.page {
  background-image: linear-gradient(to bottom right, #ffc508, #61d8ed);
  min-height: 100vh;
  padding-top: 10px;
}
.page__content {
  display: flex;
  flex-direction: column;
  margin: 0px 100px;
}

.page__main {
  flex: 1; /* grow to fill space and push footer down [web:1][web:2][web:9] */
}


.page__preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-text {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
